{{view Messages.CreateMessageView id="new-todo" placeholder="What are you doing?"}}

<div id="stats">
  {{Messages.messagesController.counter}} Messages
</div>

<ul>
{{#each Messages.messagesController}}
    <li class="todo">{{text}}</li>
{{/each}}

</ul>
